.button-1 {
    color: #232323;
    background: transparent;
    border: 1px solid #232323;
    position: relative;
    font-size: 14px;
    letter-spacing: .3em;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 34px 17px 39px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.button-1:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #32D4E2;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}

.button-1:hover:before {
    transform: translate(4px, 4px);
}

.button-2 {
    color: wheat;
    background: transparent;
    border: 1px solid wheat;
    position: relative;
    font-size: 14px;
    letter-spacing: .3em;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 34px 17px 39px;
    transition: .2s ease-in-out;
    cursor: pointer;
    text-decoration: underline;
}

.button-2:hover {
    z-index: 1;
    background: wheat;
    cursor: pointer;
    text-decoration: underline;
}

.button-2:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #32D4E2;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}

.button-2:hover:before {
    transform: translate(4px, 4px);
}


.button-3 {
    color: wheat;
    background: transparent;
    border: 1px solid wheat;
    position: relative;
    font-size: 14px;
    letter-spacing: .3em;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 34px 17px 39px;
    transition: .2s ease-in-out;
    cursor: pointer;
    text-decoration: underline;
}

.button-3:hover {
    z-index: 1;
    background: wheat;
    cursor: pointer;
    text-decoration: underline;
}

.button-3:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #32D4E2;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}

.button-3:hover:before {
    transform: translate(4px, 4px);
}