 .form-style-4{
      width: 100%;
      font-size: 16px;
      background: #495C70;
      padding: 200px 200px 15px 30px;
      border: 5px solid #53687E;
      height: 800px;
  }
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 input[type=number],
.form-style-4 textarea,
.form-style-4 label
{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #fff;

}
.form-style-4 label {
    display:block;
    margin-bottom: 10px;
}
.form-style-4 label > span{
    display: inline-block;
    float: left;
    width: 150px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 input[type=number]
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
}
.form-style-4 textarea{
    font-style: italic;
    padding: 0px 0px 0px 0px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    overflow: hidden;
    resize:none;
    height:20px;
}

.form-style-4 textarea:focus,
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus,
.form-style-4 input[type=number]
{
    border-bottom: 1px dashed #D9FFA9;
}
 .form-style-4 input[type=number],
.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
}
 .form-style-4 input[type=number],
 .form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
    background: #394D61;
}
.span-input {
    font-size: 25px;
    color: wheat;
    font-family: 'Chilanka', cursive;
}
.label-input {
    font-size: 25px;
    padding-left: 40%;
    padding-bottom: 40px;
}