.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: auto;
    overflow: hidden;
}
.footer-text {
    color: orange;
}
.row {
    text-align: center;
}
.footer-link {
    color: orange;
    text-decoration: underline;
}
.logo.h1 {
    color: orange;
    font-family: 'Long Cang', cursive;
}
.jumbotron {
    margin-bottom:auto;
}
.container1 {
    margin-left: inherit;
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 8%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 20%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container1:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}